
html{
        font-size: 20px; /* taille de référence de la fonte pour la page */
}
body{
    width:90%; /* le corps occupe 90% de la largeur de la fenêtre */
    margin: 0 auto; /* marge haute et basse à 0, et marges gauche et droite égales (centrage) */
}


header, footer{ /* on applique le même css au header et au footer */
    border: 10px ridge #55aa55; /* bordure du header */
    color: #116611; /* couleur du texte du header */
    font-weight:bold; /* texte du header en gras */
    font-size: 2rem; /* texte du header en 40px */
    text-align: center; /* texte centré dans la boîte du header */
    
}

h2{
    font-size:1.5rem;
    color: #164900;
}
 
a{ /* css portant sur les liens */
    text-decoration: none; /* pas de soulignement ou autre pour les liens */
    background-color: #FAFAD2; /* fond coloré */
    color: #88cc88; /* couleur du texte   */
    border-radius: 20%; /* on arrondit les coins du rectangle contenant le lien */
}


section.personnage{
    display: grid;  
    grid-template-columns: 1fr 4fr;
    column-gap: 1em;
    margin: 1em;
}

.descriptif{
    background: #77cc77;
    padding: 1em;
}
